{% extends 'layout.html' %}
{% block content %}
<div class="navbar">
    <div class="navbar-inner">
        <a class="brand" href="/admin/index"><img src="/images/logo.png" style="width: 100px;" /></a>
        <ul class="nav" style="float:right;">
            <li class="active"><a href="/admin/index">Home</a></li>
            <li><a href="/admin/settings">Game Settings</a></li>
            <li><a href="/admin/view/users">Users</a></li>
            <li><a href="/admin/view/winners">Winners</a></li>
            <li><a href="/admin/view/prizes">Prizes</a></li>
            <li><a href="/admin/view/prizes">IP Block List</a></li>
        </ul>
    </div>
</div>
<div class="container admin">
    <h2>Spin The Wheel: Administration</h2>
</div>
<script src="/javascripts/app/admin/index.js"></script>
{% endblock content %}