{% extends 'layout.html' %}
{% block content %}
<div class="navbar">
  	<div class="navbar-inner">
    	<a class="brand" href="/admin/index"><img src="/images/logo.png" style="width: 170px;" /></a>
    	<ul class="nav" style="float:right;">
      		<li><a href="/admin/index">Home</a></li>
      		<li class="active"><a href="/admin/view/users">View Users</a></li>
      		<li><a href="#">View Winners</a></li>
      		<li><a href="#">View Prizes Awarded</a></li>
      		<li><a href="#">IP Blocklist</a></li>
    	</ul>
  	</div>
</div>
<div class="container admin">
	<h1>View Users</h1>
  <table>
    <tr><th style="width:250px;">Full Name</th><th style="width:250px;">Email</th><th>Authentication Method</th></tr>
    {% for user in users %}
    <tr><td>{{user.full_name}}</td><td>{{user.email}}</td><td>{{user.authentication_method}}</td></tr>
    {% endfor %}
  </table>
</div>
{% endblock content %}