<header>
    <div class="content clearfix">
        <h1 class="logo"><strong>The Store. Some more text here</strong><a href="#" class="logo">
            <img src="/images/logo.png" alt="The Store" /></a>
        </h1>
        <nav class="account pull-right">
        	{% if user.email %}
        		<ul class="nav-pills">
        			<li><a href="#"><i class="icon-pencil"></i> Hi {{user.full_name}} </a></li>
	                <li><a href="/logout"><i class="icon-user"></i>Logout</a></li>
	            </ul>
      		{% else %}
            <ul class="nav-pills">
                <li><a data-target="modal" data-modal-split="1" data-modal-header="Sign Up" href="/modal_sign_up"><i class="icon-pencil"></i> Sign Up</a></li>
                <li><a href="javascript:;"><i class="icon-user"></i> Sign In</a></li>
            </ul>
            {% endif %}
        </nav>
    </div>
</header>

<header>
        <div class="content clearfix">
            <h1 class="logo"><strong>The Store. Some more text here</strong><a href="#" class="logo">
                <img src="/images/logo.png" alt="The Store" /></a>
            </h1>
            <nav class="account pull-right">
                <ul class="nav-pills">
                    <li><a data-target="modal" data-modal-split="1" data-modal-header="Sign Up" href="/modal_sign_up"><i class="icon-pencil"></i> Sign Up</a></li>
                    <li><a href="javascript:;"><i class="icon-user"></i> Sign In</a></li>
                </ul>
            </nav>
        </div>
    </header>