{% extends 'layout.html' %}
{% include 'header.html' %}
{% block content %}
<script src="/javascripts/auth.js"></script>
<div class="main_container">
	<div class="game_container">
		<h2 class="header-cta">Over <span class="highlight">$100,000</span> in prizes to be won</h2>
		<div class="header_canvas">
			<div class="iphone"></div>
			<div class="spin_to_win"></div>
			<div class="ipod"></div>
			<div class="cta_arrow"></div>
		</div>
		<div class="inner_game_container">
			<div class="orange_bg">
				<div class="handle">
					<img src="/images/handle.png" />
				</div>
				<div class="red_bg">
					<div id="slotmachine">
						<canvas id="slots" width="540" height="221"></canvas>
					</div>
				</div>
				<h2 class="slot_text">TEST YOUR LUCK WITH OUR <span class="large_text">FREE</span> SPIN TO WIN GAME</h2>
				<button id="play" class="btn btn-large btn-success">Spin To Win</button>
			</div>
			<div class="how_to_play">
				<div class="spins_left">
					<div class="count">0</div>
					<div class="count">0</div>
					<div class="count">0</div>
					<div class="count">0</div>
				</div>
				<div class="spins_left_text">SPINS LEFT</div>
				<a href="#" class="btn btn-inverse btn-large earnMoreSpins">Get More Spins</a><br/><br/>
				<div class="how_to_play_text">
					HOW TO PLAY
				</div>
				<div class="how_to_play_steps">
					Get three of the same and you win a great prize!<br/><br/>
				</div>
				<div class="how_to_play_points">
					<div class="steps">
						<div class="points_1"></div><div class="how_to_play_steps">
							Press "Spin Now" to begin the game
						</div>
					</div>
					<div class="steps">
						<div class="points_2"></div><div class="how_to_play_steps">
							Match up 3 items in a row and win that prize
						</div>
					</div>
					<div class="steps">
						<div class="points_3"></div><div class="how_to_play_steps">
							Follow the on screen instructions to claim your prize
						</div>
					</div>
				</div>
			</div>
			<div style="float:left; margin-left: 530px; margin-top: 20px;">
				<div class="fb-like" data-href="https://www.facebook.com/thestorecom" data-send="false" data-layout="button_count" data-width="150" data-show-faces="false" data-font="arial"></div>
			</div>
		</div>
	</div>
	<div class="bottom_banner">
	</div>
	{% if prizes.length > 0 %}
	<div class="our_prizes">
		<h2 style="color: #1065b4; margin-left:20px;">Our Prizes</h2>
		<div class="container" style="background-color:#fff; -webkit-box-shadow: 0 8px 6px -6px black; -moz-box-shadow: 0 8px 6px -6px black; box-shadow: 0 8px 6px -6px black; ">
		  	<div id="myCarousel" class="carousel slide">
			  <!-- Carousel items -->
			  <div class="carousel-inner">
			  		{% for prize in prizes%}
			  			{{ loop.cycle('<div class="item">', '', '')}}
				    		<div style="background-image: url({{prize.image_url}}); width: 150px; height: 200px; background-position: -17px; float: left; margin-right:50px; margin-left:100px;"></div>
				    	{{ loop.cycle('', '', '</div>')}}
			    	{% endfor %}
				    </div>
			  </div>
			</div>
		</div>
	</div>
	{% endif %}
</div>
<!-- Modal -->
<div id="signup" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Sign Up Using:</h3><br/>
    <div class="social_signups">
		<a href="#" onclick="facebookAuth()" data-dismiss="modal"><div class="large_facebook"></div></a>
		<a href="#" onclick="twitterAuth()" data-dismiss="modal"><div class="large_twitter"></div></a>
		<a href="#" onclick="googleAuth()" data-dismiss="modal"><div class="large_googleplus"></div></a>
    </div>
  </div>
  <div class="modal-body">
    <p>or Register a new account</p>
    <form class="modalForm" id="signupForm" method="post" action="/add/new/user">
		<input type="text" placeholder="Full Name" name="fullname" /><br/><br/>
		<input type="text" placeholder="Email Address" name="email" /><br/><br/>
		<input type="password" placeholder="Password" name="password" /><br/><br/>
		<input type="password" placeholder="Confirm Password" name="confirm_password" /><br/><br/>
		<input type="button" class="modalSubmit" id="signup_button"/>
    </form>
    <a href="#login" data-toggle="modal" data-dismiss="modal"  style="float:right; color:#000;">Login</a>
  </div>
</div>
<!-- Modal -->
<div id="login" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
  	<div class="modal-header">
    	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    	<h3>Sign In Using:</h3><br/>
	    <div class="social_signups">
			<a href="#" onclick="facebookAuth()" data-dismiss="modal"><div class="large_facebook"></div></a>
			<a href="#" onclick="twitterAuth()" data-dismiss="modal"><div class="large_twitter"></div></a>
			<a href="#" onclick="googleAuth()" data-dismiss="modal"><div class="large_googleplus"></div></a>
	    </div>
  	</div>
  	<div class="modal-body">
    	<p>or Sign in with your username/email address</p>
    	<form class="modalForm" id="signinform" method="post" action="/login/user">
			<input type="text" placeholder="Email Address" name="email" /><br/><br/>
			<input type="password" placeholder="Password" name="password" /><br/><br/>
			<input type="button" class="modalSubmit" id="signin_button"/>
		</form>
		<div>
			<a href="#" style="float:left; color:#000;  text-shadow: none;">Forgot password?</a>
			<a href="#signup" data-toggle="modal" data-dismiss="modal" style="float:right; color:#000; text-shadow: none;">Register New Account</a>
		</div>
  	</div>
</div>
<div id="nospinsleft" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true" style="width:496px;">
  	<div class="modal-body">
  		<div class="row">
			<div class="span4"><img src="/images/sadface.png"/></div>
			<div class="span2"><img src="/images/zerospins.png"/></div>
  		</div>
    	<h3>Oh no, looks like you are out of spins!</h3>
    	<p>The good news is we have plenty of ways you can earn more!</p>
    	<p><br/></p>
    	<a href="#" class="earnMoreSpins btn btn-success">Learn How</a>
  	</div>
    <img src="/images/bottom_modal.png" />
</div>
<div id="youwon" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true" style="width:496px;">
  	<div class="modal-body">
    	<h4>Congratulations {{user.full_name}}! You won!</h4>
    	<div id="win_image"></div>
    	<p><br/></p>
  	</div>
    <img src="/images/bottom_modal.png" />
</div>
<div id="ended" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true" style="width:496px;">
  	<div class="modal-body">
    	<h3>Sorry, the campaign has ended!</h3>
    	<p>Check back for more campaigns and promotions. </p>
  	</div>
    <img src="/images/bottom_modal.png" />
</div>
<!-- Modal -->
<div id="showAskEmail" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
  	<div class="modal-header">
    	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  	</div>
  	<div class="modal-body">
    	<p>Please Enter your Email Address to complete your Signup.</p>
    	<form class="modalForm" id="emailform" method="post" action="/twitter/email">
			<input type="text" placeholder="Email Address" name="email" /><br/><br/>
			<input type="button" class="modalSubmit" id="add_email_button"/>
		</form>
  	</div>
</div>
<div id="fb-root"></div>
{% include 'footer.html' %}
<script>
	{% if showAskEmail == true %}
		$("#showAskEmail").modal();
	{% endif %}
	(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=141114962758351";
			fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));

	$("#myCarousel .carousel-inner .item:first").addClass("active");
	</script>
<script src="javascripts/app.js"></script>
<script src="javascripts/skeleton.js"></script>
{% endblock %}