<!DOCTYPE html>
<html>
  	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{{ title }}</title>
		<meta name="description" content="" />  
        <meta name="author" content="Charles De Souza" />
        <!-- Included CSS Files (Compressed) -->
  	      <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
          <link rel='stylesheet' href='/javascripts/datepicker/css/datepicker.css' />
          <script src="http://code.createjs.com/easeljs-0.6.1.min.js"></script>
          <script src="/javascripts/jquery-1.9.1.min.js"></script>
          <Script src="/javascripts/datepicker/js/bootstrap-datepicker.js"></script>
          <Script src="/bootstrap/js/bootstrap.min.js"></script>
          <link rel='stylesheet' href='/stylesheets/style.css' />
          <!-- Initialize JS Plugins -->
          <script src="/javascripts/custom.modernizr.js"></script>
        {% block head %}
        {% endblock %}
  	</head>
  	<body>
      {% block content %}

      {% endblock %}
  	</body>
</html>