{% extends 'layout.html' %}

{% block content %}
<div class="container">

      <form class="form-signin" method="post" action="/admin/auth">
        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="text" name="email" class="input-block-level" placeholder="Username">
        <input type="password" name="password" class="input-block-level" placeholder="Password">
        <button class="btn btn-large btn-primary" type="submit">Sign in</button>
      </form>

    </div> <!-- /container -->
<script src="javascripts/app.js"></script>
{% endblock %}