<div id="nospinsleft" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true" style="width:496px;">
    <div class="modal-body">
        <div class="row">
            <div class="span4"><img src="/images/sadface.png"/></div>
            <div class="span2"><img src="/images/zerospins.png"/></div>
        </div>
        <h3>Oh no, looks like you are out of spins!</h3>
        <p>The good news is we have plenty of ways you can earn more!</p>
        <p><br/></p>
        <a href="#" class="earnMoreSpins btn btn-success">Learn How</a>
    </div>
    <img src="/images/bottom_modal.png" />
</div>